@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: rgb(37, 70, 84);
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: url('assets/images/email-pattern.png');
}

@media print {
    html {
        background: white;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
    margin-bottom: 10px;
}


h2 {
    text-align: center;
    font-weight: bold;
    font-size: 135%;
    margin-bottom: 30px;
    font-family: 'Bitter', serif;
}


