.react-markdown {
    h1 {
        font-size: 2.5rem;
        margin: 5rem 0 2rem 0;
        line-height: 2.5rem;

    }
    h2 {
        margin: 4rem 0 2rem 0;
        font-size: 2.0rem;
        line-height: 2rem;
    }

    h3 {
        margin: 1.5rem 0;
        font-size: 1.5rem;
    }

    h4 {
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    p {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        text-decoration: none;
        color: #70A6FF;

        &:visited {
            color: #8D59FF;
        }

        &:hover {
            color: #1C6FFF;
        }
    }

    blockquote {
        margin: 0 0 1rem 0;
        padding-left: 1.4rem;
        border-left: 4px solid #dadada;
    }

    pre {
        overflow: auto;
        border: 1px solid black;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}
